body{
    overflow-x: hidden;
}
.recipe-container{
    height: 120rem;
    width: 100vw;
    margin-left: 35px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.recipe-items{
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.recipe-Img{
    cursor: pointer;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 30px;

    &:hover{
        opacity: 50%;
    }
}
.about-recipe{
    font-size: 20px;
    text-align: center;
}
#recipe-7{
    position: relative;
    top: 10px;
}
.contact-us{
    height: 230px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #575353;
}
#contact-heading{
    margin-top: 10px;
    font-size: 35px;
    color: #fff;
    font-weight: normal;
}
#contact-input{
    height: 35px;
    width: 375px;
    border-radius: 30px;
    margin-top: 25px;
    padding-left: 10px;
}
