@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.nav-items-container{
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    margin-right: 300px;
}
#nav-items{
    font-size: 20px;
    list-style: none;
    cursor: pointer;
}
#nav-items a{
    color: black;
    text-decoration: none;

    &:hover{
        color: rgb(51, 238, 51);
    }
}
.nav-subnav{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
#head-1{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
#sub-head{
    font-size: 13px;
}
.header-container{
    background-image: url("Pics/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100vw;
}
.header-search, .btn{
    position: relative;
    top: 38px;
}

.header-heading{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 30px;
}
.header-search{
    width: 500px;
    height: 30px;
    border-radius: 30px;
    padding-left: 8px;
}
.recipe-btn{
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    position: relative;
    top: 45px;
}
#light-mode{
    position: relative;
    right: 52px;
    cursor: pointer;
}
#dark-mode{
    position: relative;
    visibility: hidden;
    cursor: pointer;
}

/* -----------------------------------------------------------main----------------------------------------------------------- */
.recipe-container{
    height: auto;
    width: 100vw;
    margin-left: 35px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.recipe-items{
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
#recipe-Img{
    cursor: pointer;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 30px;
    border: 2.5px solid black;
}
.about-recipe{
    font-size: 20px;
    text-align: center;
}
.img-overflow, #para-recipe{
    position: relative;
    top: 10px;
}
/* -----------------------------------------------------------main----------------------------------------------------------- */
